#complaintBox {
    width: 600px;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    top: 300px;
    left: 50%;
    position:absolute;
    transform: translateX(-50%);
  }
  
  #lbckimg {
    width: 1520px;
    height:1490px;
    position: relative;
    display: block;
    margin: 0 auto;
    z-index: -1;
  }

  section {
    font-family: 'Aldrich';
    margin-bottom: 20px;
  }

  label {
    display: block;
    margin-bottom: 8px;
  }

  input, textarea, select {
    font-family: 'Aldrich';
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
  }

  button {
    font-family: 'Aldrich';
    float: right;
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }

  button:hover {
    transition: 0.3s;
    background-color: #555;
  }