main {
    margin-left: 32%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

#left, #right {
    list-style: none;
    padding: 80px;
}

#left {
    float: left;
}

#right {
    float: right;
}

#left button, #right button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #eee; 
    border: none;
    text-align: center;
    text-decoration: none;
    color: #333;
    cursor: pointer;
}

#left button:hover, #right button:hover {
    background-color: #ddd; 
    transform: scale(1.25);
    transition: 0.3s;
}
